/* Global styles for entire app */
.App {
  background: white;
  padding: 1rem;
  display: flex;
  margin: 2px;
 
}

::-webkit-scrollbar {
  display: none;
}


/* Styles for navigation sidebar */
nav {

  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid black;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  padding: 0.5rem;
  background: steelblue;
  overflow: auto;
  

}
nav.shrunkNav {
  width: 40px; 
  height: 40px;



  padding: 0px;
}
.toggleButton {
  position: absolute;
  top: 0.5rem;
  right: 1px;
  z-index: 1;
  cursor: pointer;
  
}
.toggleButton.active {
  position: relative;
  justify-self: center;
  align-self: center;

}

/* Styles for main content area */
.Body {
  margin-left: 22%;
  display: flex;
  flex-direction: column;
  width: 78%;
  
}
.Body.navOpen {
  margin-left: 1%; /* Adjust this value to match your navigation's width */
  width: 100%;
 
}

/* Styles for links in navigation sidebar */
nav a {
  text-decoration: none;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  padding: 5px;  
}

nav a:hover {
  background-color: #fc4c02;
  border-radius: 30px;
}

/* Styles for lists in navigation sidebar */
nav ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5%;
}

/* Styles for items in lists in navigation sidebar */
nav li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin: 3px;
  overflow: auto;
  list-style-type: disc;
}

/* Styles for links in items in lists in navigation sidebar */
nav li a {
  padding: 2px;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  padding: 5px;
  line-height: 1.4rem;
  overflow-x: auto;
}

/* Styles for headings */
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Styles for articles */
article {
  border: 2px solid black;
  border-radius: 30px;
  padding: 15px;
  margin-top: 20px;
  width: 100%; 
  margin-left: 3px;
  box-sizing: border-box; 
}
