:root {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: steelblue;
  padding: 0;
  word-wrap: normal;
  scroll-padding-top: 2.8rem;
}
